{{ $class := .Get "class" }}
{{ $ref := .Get "href"}}
{{ $relref:= .Get "relref"}}
{{ $id := .Get "id"}}
{{ $variable := .Get "variable"}}

{{ with .Get "relref" }}
  {{ $ref = relref $ . }}
{{ end }}

<button class="{{ $class }}" id="{{ $id }}" variable="{{ $variable }}" onclick="validarRedireccion('{{ $ref }}', '{{$variable}}')">{{ .Inner }}</button>

<script>
  function validarRedireccion(ref, variable) {
    // if (variable == 1) {
    window.location.href = ref;
    // } else {
    //   window.location.href = '/posts/sinautorizacion/';
    // }
  }
</script>